<!DOCTYPE html>
<html>

<head>
    <title>Future imperfect</title>
    <!-- https://pixelarity.com/future-imperfect (Responsive shoud use flex) -->
    <meta content="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="vendor/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="vendor/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="vendor/css/grid.css">
    <link type="text/css" rel="stylesheet" href="resources/css/style.css">
    <link type="text/css" rel="stylesheet" href="resources/css/media_queries.css"> </head>

<body>
    <header>
        <nav>
            <div class="r_nav">
                <div> <i class="ion-ios-search-strong"></i> </div>
                <div> <i class="ion-navicon"></i> </div>
            </div>
            <div class="l_nav">
                <h6>
                        FUTURE IMPERFECT
                    </h6>
                <ul>
                    <li> <a>LOREM</a> </li>
                    <li> <a>IPSUM</a> </li>
                    <li> <a>FEUGIAT</a> </li>
                    <li> <a>TEMPUS</a> </li>
                    <li> <a>ADIPISCING</a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="row">
        <div id="res-intro">
            <div id="intro">
                <div id="logo"> <img src="resources/css/img/logo.jpg" /> </div>
                <h1>FUTURE </h1>
                <h1>IMPERFECT</h1>
                <p>CUBILIA ENIM ADIPISCING ORCI FAUCIBUS AT VESTIBULUM</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col span-1-of-3" id="left-block">
            <div id="intro">
                <div id="logo"> <img src="resources/css/img/logo.jpg" /> </div>
                <h1>FUTURE </h1>
                <h1>IMPERFECT</h1>
                <p>CUBILIA ENIM ADIPISCING ORCI FAUCIBUS AT VESTIBULUM</p>
            </div>
            <div class="h_blocks"> <img src="resources/css/img/pic04.jpg" class="block_header">
                <div class="details"> <img src="resources/css/img/avatar.jpg">
                    <div>
                        <h6>VITAE SED CONDIMENTUM</h6>
                        <p>OCTOBER 20, 2015</p>
                    </div>
                </div>
            </div>
            <div class="h_blocks"> <img src="resources/css/img/pic05.jpg" class="block_header">
                <div class="details"> <img src="resources/css/img/avatar.jpg">
                    <div>
                        <h6>RUTRUM NEQUE ACCUMSAN</h6>
                        <p>OCTOBER 19, 2015</p>
                    </div>
                </div>
            </div>
            <div class="h_blocks"> <img src="resources/css/img/pic06.jpg" class="block_header">
                <div class="details"> <img src="resources/css/img/avatar.jpg">
                    <div>
                        <h6>ODIO CONGUE MATTIS</h6>
                        <p>OCTOBER 18, 2015</p>
                    </div>
                </div>
            </div>
            <div class="h_blocks"> <img src="resources/css/img/pic07.jpg" class="block_header">
                <div class="details"> <img src="resources/css/img/avatar.jpg">
                    <div>
                        <h6>ENIM NISL VEROEROS</h6>
                        <p>OCTOBER 17, 2015</p>
                    </div>
                </div>
            </div>
            <div class="h_blocks">
                <ul id="block-menu">
                    <li>
                        <div>
                            <h6>LOREM IPSUM FERMENTUM UT NISL VITAE</h6>
                            <p>OCTOBER 20, 2015</p>
                        </div> <img src="resources/css/img/pic08.jpg" width="51" height="51"> </li>
                    <li>
                        <div>
                            <h6>CONVALLIS MAXIMUS NISL MATTIS NUNC ID LOREM</h6>
                            <p>OCTOBER 15, 2015</p>
                        </div> <img src="resources/css/img/pic09.jpg" width="51" height="51"> </li>
                    <li>
                        <div>
                            <h6>EUISMOD AMET PLACERAT VIVAMUS PORTTITOR</h6>
                            <p>OCTOBER 10, 2015</p>
                        </div> <img src="resources/css/img/pic10.jpg" width="51" height="51"> </li>
                    <li>
                        <div>
                            <h6>MAGNA ENIM ACCUMSAN TORTOR CURSUS ULTRICIES</h6>
                            <p>OCTOBER 8, 2015</p>
                        </div> <img src="resources/css/img/pic11.jpg" width="51" height="51"> </li>
                    <li>
                        <div>
                            <h6>CONGUE ULLAM CORPER LOREM IPSUM DOLOR</h6>
                            <p>OCTOBER 7, 2015</p>
                        </div> <img src="resources/css/img/pic12.jpg" width="51" height="51"> </li>
                </ul>
            </div>
            <div class="h_blocks" id="about">
                <h6>ABOUT</h6>
                <p> Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies. </p> <span><a class="btn">Learn More</a></span> </div>
            <div class="h_blocks" id="social-media"> <i class="ion-social-twitter"></i> <i class="ion-social-facebook"></i> <i class="ion-social-instagram"></i> <i class="ion-social-rss"></i> <i class="ion-email"></i>
                <p>&copy; Untitled</p>
            </div>
        </div>
        <div class="col span-2-of-3" id="right-block">
            <div id="rblock-1">
                <div class="block-right-1">
                    <div class="block_right_1_left">
                        <h1>MAGNA SED ADIPISCING</h1>
                        <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                    </div>
                    <div class="block_right_1_right">
                        <div class="author">
                            <h6>NOVEMBER 1, 2015</h6>
                            <div> <span class="auth_name">
                                        JANE DOE</span>&nbsp;&nbsp; <img src="resources/css/img/avatar.jpg"> </div>
                        </div>
                    </div>
                </div>
                <div class="block-right-2">
                    <div class="blk-2-content" class=""> <img src="resources/css/img/pic01.jpg" class="block_header">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                        <div class="btns_block"> <a class="btn">CONTINUE READING</a>
                            <ul>
                                <li class="auth_name">GENERAL</li>
                                <li><i class="ion-heart"></i>28</li>
                                <li><i class="ion-chatbox"></i>128</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rblock-2">
                <div class="block-right-1">
                    <div class="block_right_1_left">
                        <h1>ULTRICIES SED MAGNA EUISMOD ENIM VITAE GRAVIDA</h1>
                        <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                    </div>
                    <div class="block_right_1_right">
                        <div class="author">
                            <h6>OCTOBER 25, 2015</h6>
                            <div> <span class="auth_name">
                                        JANE DOE</span>&nbsp;&nbsp; <img src="resources/css/img/avatar.jpg"> </div>
                        </div>
                    </div>
                </div>
                <div class="block-right-2">
                    <div class="blk-2-content" class=""> <img src="resources/css/img/pic02.jpg" class="block_header">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
                        <div class="btns_block"> <a class="btn">CONTINUE READING</a>
                            <ul>
                                <li class="auth_name">GENERAL</li>
                                <li><i class="ion-heart"></i>28</li>
                                <li><i class="ion-chatbox"></i>128</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rblock-3">
                <div class="block-right-1">
                    <div class="block_right_1_left">
                        <h1>EUISMOD ET ACCUMSAN</h1>
                        <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
                    </div>
                    <div class="block_right_1_right">
                        <div class="author">
                            <h6>OCTOBER 22, 2015</h6>
                            <div> <span class="auth_name">
                                        JANE DOE</span>&nbsp;&nbsp; <img src="resources/css/img/avatar.jpg"> </div>
                        </div>
                    </div>
                </div>
                <div class="block-right-2">
                    <div class="blk-2-content" class=""> <img src="resources/css/img/pic03.jpg" class="block_header">
                        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                        <div class="btns_block"> <a class="btn">CONTINUE READING</a>
                            <ul>
                                <li class="auth_name">GENERAL</li>
                                <li><i class="ion-heart"></i>28</li>
                                <li><i class="ion-chatbox"></i>128</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pager-btns"> <span class="btn">Previous page</span> <span class="btn">Next page</span> </div>
        </div>
    </section>
    <script type="text/javascript" src="vendor/js/jquery-2.2.4.min.js"></script>
</body>

</html>