<!DOCTYPE html>
<html>

<head>
    <title>Layered</title>
    <!--https://pixelarity.com/layered-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="vendor/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="vendor/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="resources/css/style.css"> </head>

<body>
    <header>
        <div class="row">
            <nav>
                <div class="left_nav">
                    <h1>Layered</h1> </div>
                <div class="right_nav">
                    <ul>
                        <li class="active"> <a href="javascript:void(0);">Home</a> </li>
                        <li> <a href="javascript:void(0);">Dropdown</a>
                            <ul>
                                <li><a href="javascript:void(0);">Lorem ipsum dolor</a></li>
                                <li><a href="javascript:void(0);">Magna phasellus</a></li>
                                <li><a href="javascript:void(0);">Etiam dolore nisl</a></li>
                                <li><a href="javascript:void(0);">Phasellus consequat</a></li>
                                <li><a href="javascript:void(0);">Veroeros feugiat</a></li>
                            </ul>
                        </li>
                        <li> <a href="javascript:void(0);">Right Sidebar</a> </li>
                        <li> <a href="javascript:void(0);">Left Sidebar</a> </li>
                        <li> <a href="javascript:void(0);">No Sidebar</a> </li>
                        <li> <a href="javascript:void(0);">Contact</a> </li>
                    </ul>
                </div>
            </nav>
            <div id="banner"> <img src="resources/css/img/pic01.jpg"> </div>
            <div class="info">
                <h1>Magna sed consequat ligula</h1>
                <p>Sem nristiue onec tuis dui at dolor tempor intlorem ipsum laoreet</p>
            </div>
        </div>
    </header>
    <section class="sec_red">
        <div class="row">
            <div class="grid">
                <div class="sec_red_grid"><i class="ion-ios-person"></i>
                    <h2>Auctor Feugiat</h2>
                    <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p> <span>More</span></div>
                <div class="sec_red_grid"><i class="ion-gear-b"></i>
                    <h2>Sed Malesuada</h2>
                    <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p> <span>More</span></div>
                <div class="sec_red_grid"><i class="ion-android-volume-mute"></i>
                    <h2>Elit Phasellus</h2>
                    <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Pellensque aliquet nibh.</p> <span>More</span></div>
            </div>
        </div>
    </section>
    <section class="sec_blue">
        <div class="row">
            <div class="right_sec"> <img src="resources/css/img/pic02.jpg"> </div>
            <div class="left_sec">
                <h1>Nibh feugiat blandit</h1> <span>Rutrum sed lorem ipsum dolor sit amet nullam</span>
                <p>Accumsan diam rutrum porta justo tincidunt cum aliquam. Consectetur malesuada iaculis scelerisque pellentesque commodo suscipit iaculis magna cras sapien eget praesent. Libero etiam etiam fringilla felis dignissim nullam ligula dolor rutrum eget.</p>
            </div>
        </div>
    </section>
    <section class="sec_gray">
        <div class="row">
            <div class="right_sec"> <img src="resources/css/img/pic03.jpg"> </div>
            <div class="left_sec">
                <h1>Commodo et sapien</h1> <span>Ipsum dolor sit amet nullam tincidunt lorem</span>
                <p>Accumsan diam rutrum porta justo tincidunt cum aliquam. Consectetur malesuada iaculis scelerisque pellentesque commodo suscipit iaculis magna cras sapien eget praesent. Libero etiam etiam fringilla felis dignissim nullam ligula dolor rutrum eget..</p>
            </div>
        </div>
    </section>
    <section>
        <div class="row row_last">
            <div class="right_sec">
                <h2>Magna tempus etiam</h2> <img src="resources/css/img/pic04.jpg">
                <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit. Phasellus hendrerit. Lorem ipsum dolor sit amet, consecetuer adipiscing elit.</p>
            </div>
            <div class="left_sec">
                <h1>Libero sed etiam consequat</h1>
                <ul>
                    <li>
                        <div class="li_left">
                            <p class="date"> <a>Aug
                                    <b>24</b>
                                </a> </p>
                        </div>
                        <div class="li_right">
                            <h6>Phasellus lorem ipsum</h6>
                            <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</p>
                        </div>
                    </li>
                    <li>
                        <div class="li_left">
                            <p class="date"> <a>Aug
                                    <b>24</b>
                                </a> </p>
                        </div>
                        <div class="li_right">
                            <h6>Amet hendrerit</h6>
                            <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</p>
                        </div>
                    </li>
                    <li>
                        <div class="li_left">
                            <p class="date"> <a>Aug
                                    <b>24</b>
                                </a> </p>
                        </div>
                        <div class="li_right">
                            <h6>Libero consequat</h6>
                            <p>Lorem ipsum dolor sit amet, consecetuer adipiscing elit phasellus hendrerit.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div> <i class="ion-social-facebook"></i> <i class="ion-social-twitter"></i> <i class="ion-social-googleplus"></i> <i class="ion-social-pinterest"></i> <i class="ion-social-linkedin"></i> <i class="ion-email"></i>
            <p>© Untitled. All rights reserved. Lorem ipsum dolor sit amet nullam.</p>
        </div>
    </footer>
    <script type="text/javascript" src="vendor/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="resources/js/app.js"></script>
</body>

</html>