<!DOCTYPE html>
<html>

<head>
    <title>Yoga Club </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="vendor/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="vendor/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="resource/css/style.css"> </head>

<body>
    <header>
        <div class="header-grid" id="header-row-1">
            <div class="header-grid-left">
                <article> <i class="ion-social-facebook"></i> <i class="ion-social-twitter"></i> <i class="ion-social-pinterest"></i> <i class="ion-social-vimeo"></i> <i class="ion-social-dribbble"></i> </article>
            </div>
            <div class="header-grid-right">
                <article class="header-grid-right--left">
                    <p>Monday-Friday: 8:00 am to 5:00 pm</p>
                </article>
                <article class="header-grid-right--right"> <i class="ion-ios-telephone"></i> <span>876 543 2109</span> <i class="ion-ios-pricetag"></i> <span>Purchase</span> </article>
            </div>
        </div>
        <div class="header-grid" id="header-row-2">
            <div class="header-grid-left">
                <!--<span><a></a></span>-->
                <div><img src="resource/css/img/logo.jpg"></div>
            </div>
            <div class="header-grid-right">
                <article>
                    <nav>
                        <ul id="main-nav">
                            <li><a><i class="ion-home"></i></a>
                                <ul>
                                    <li><a>Home 1</a></li>
                                    <li><a>Home 2</a></li>
                                    <li><a>Home 3</a></li>
                                    <li><a>Home 4</a></li>
                                </ul>
                            </li>
                            <li class="max-child"><a>PAGES</a>
                                <ul class="submenu-2-child">
                                    <li>
                                        <h4>Starndard Pages</h4>
                                        <ul>
                                            <li><a>classes</a></li>
                                            <li><a>classes single</a></li>
                                            <li><a>Events</a></li>
                                            <li><a>Events Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Starndard Pages</h4>
                                        <ul>
                                            <li><a>About US</a></li>
                                            <li><a>Testimonials - 1</a></li>
                                            <li><a>Testimonials - 2</a></li>
                                            <li><a>Testimonials - 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Mixed Pages</h4>
                                        <ul>
                                            <li><a>Time table</a></li>
                                            <li><a>Contact us</a></li>
                                            <li><a>Search result</a></li>
                                            <li><a>FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Others</h4>
                                        <ul>
                                            <li><a>Other page</a></li>
                                            <li><a>Blank page</a></li>
                                            <li><a>Maintenance</a></li>
                                            <li><a>Page not found</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a>PORTFOLIO</a>
                                <ul>
                                    <li><a>2 column - with title</a></li>
                                    <li><a>3 column - with title</a></li>
                                    <li><a>4 column - with title</a></li>
                                    <li><a>2 column - no title</a></li>
                                    <li><a>3 column - no title</a></li>
                                    <li><a>4 column - no title</a></li>
                                    <li><a>PORTFOLIO SINGLE</a></li>
                                </ul>
                            </li>
                            <li><a>BLOG</a>
                                <ul>
                                    <li><a>2 column - with title</a></li>
                                    <li><a>3 column - with title</a></li>
                                    <li><a>4 column - with title</a></li>
                                    <li><a>2 column - no title</a></li>
                                    <li><a>3 column - no title</a></li>
                                    <li><a>4 column - no title</a></li>
                                    <li><a>PORTFOLIO SINGLE</a></li>
                                </ul>
                            </li>
                            <li class="max-child"><a>SHORTCODES</a>
                                <ul class="submenu-2-child">
                                    <li>
                                        <h4>Starndard Pages</h4>
                                        <ul>
                                            <li><a>classes</a></li>
                                            <li><a>classes single</a></li>
                                            <li><a>Events</a></li>
                                            <li><a>Events Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Starndard Pages</h4>
                                        <ul>
                                            <li><a>About US</a></li>
                                            <li><a>Testimonials - 1</a></li>
                                            <li><a>Testimonials - 2</a></li>
                                            <li><a>Testimonials - 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Mixed Pages</h4>
                                        <ul>
                                            <li><a>Time table</a></li>
                                            <li><a>Contact us</a></li>
                                            <li><a>Search result</a></li>
                                            <li><a>FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h4>Others</h4>
                                        <ul>
                                            <li><a>Other page</a></li>
                                            <li><a>Blank page</a></li>
                                            <li><a>Maintenance</a></li>
                                            <li><a>Page not found</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a>SHOP</a>
                                <ul>
                                    <li><a>2 column - with title</a></li>
                                    <li><a>3 column - with title</a></li>
                                    <li><a>4 column - with title</a></li>
                                    <li><a>2 column - no title</a></li>
                                    <li><a>3 column - no title</a></li>
                                    <li><a>4 column - no title</a></li>
                                    <li><a>PORTFOLIO SINGLE</a></li>
                                </ul>
                            </li>
                            <li><a>BOOKNOW</a>
                                <ul>
                                    <li><a>2 column - with title</a></li>
                                    <li><a>3 column - with title</a></li>
                                    <li><a>4 column - with title</a></li>
                                    <li><a>2 column - no title</a></li>
                                    <li><a>3 column - no title</a></li>
                                    <li><a>4 column - no title</a></li>
                                    <li><a>PORTFOLIO SINGLE</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </article>
                <article> <i class="ion-search"></i> </article>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
    <section id="meditation">
        <div class="meditation-row">
            <article class="med-col-1">
                <h2>The perfect way to start your day!</h2>
                <h1>Kundalini Yoga &amp; Meditation</h1> </article>
            <article class="med-col-2">
                <div>
                    <p>EVERY DAY YOGA</p>
                    <p>BOOK NOW</p>
                </div>
            </article>
            <article class="med-col-3">
                <div>
                    <p><i class="ion-android-checkbox-outline"></i><span>$45 Per month</span></p>
                </div>
                <div>
                    <p><i class="ion-android-checkbox-outline"></i><span>Available for everyone</span></p>
                </div>
                <div>
                    <p><i class="ion-android-checkbox-outline"></i><span>All levels welcome</span></p>
                </div>
            </article>
            <div class="clearfix"></div>
        </div>
        <article id="med-bg">
            <div>
                <div class="yoga-col med-bg-col med-bg-col-1">
                    <h1>Body</h1> <img src="resource/css/img/slide1-3.png"> </div>
                <div class="yoga-col med-bg-col med-bg-col-2">
                    <h1>Mind</h1> <img src="resource/css/img/slide1-2.png"> </div>
                <div class="yoga-col med-bg-col med-bg-col-3">
                    <h1>Soul</h1> <img src="resource/css/img/slide1-4.png"> </div>
            </div>
            <div class="clearfix"></div>
        </article>
    </section>
    <section id="family" class="section-container">
        <div class="row">
            <div class="h-block">
                <h1>Recharge. Strengthen. Awaken</h1>
                <p class="dividers"> <span></span> <span></span> <span></span> <span></span> </p>
                <p class="text-desc">Curabitur sed lacus faucibus, efficitur nulla cursus, dictum quam. Praesent ornare nibh vel molestie fringilla. Nulla non vulputate odio tesque eu dui quis orci interdum lobor quam viverra elit et dui ultrices.</p>
            </div>
            <div>
                <div class="yoga-col">
                    <ul>
                        <li>
                            <div class="list-col-10"><i class="ion-ios-bell-outline"></i></div>
                            <div class="list-col-90">
                                <h2>Harmonize the Body</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-col-10"><i class="ion-ios-people-outline"></i></div>
                            <div class="list-col-90">
                                <h2>Yoga for Everybody</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-col-10"><i class="ion-loop"></i></div>
                            <div class="list-col-90">
                                <h2>Renewing Your Mind</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="yoga-col"><img src="resource/css/img/yoga-home1.jpg"></div>
                <div class="yoga-col">
                    <ul>
                        <li>
                            <div class="list-col-10"><i class="ion-jet"></i></div>
                            <div class="list-col-90">
                                <h2>Yoga for Real Energy</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="list-col-10"><i class="ion-chatbubbles"></i></div>
                            <div class="list-col-90">
                                <h2>Small Group Classes</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="list-col-10"><i class="ion-ios-heart-outline"></i></div>
                            <div class="list-col-90">
                                <h2>Live the Life You Love</h2>
                                <p>Mauris rutrum ex quis ligula eleme ntu in finibus orcievs dapibus scecursus urna atevolu tpat ferme antum augue.</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="counter">
        <div class="counter-row"> <span><i class="ion-android-people"></i><h1>640</h1><h5>HAPPY CLIENTS</h5></span> <span><i class="ion-umbrella"></i><h1>370</h1><h5>YOGA WORKSHOPS</h5></span> <span><i class="ion-ios-clock-outline"></i><h1>830</h1><h5>TEACHING HOURS</h5></span> <span><i class="ion-ios-chatbubble"></i><h1>750</h1><h5>POSITIVE FEEDBACKS</h5></span> <span><i class="ion-coffee"></i><h1>70+</h1><h5>CUPS OF COFFEE</h5></span> </div>
    </section>
    <section id="yoga-classes" class="section-container">
        <div class="row">
            <div class="h-block">
                <h1>Our Yoga Classes</h1>
                <p class="dividers"> <span></span> <span></span> <span></span> <span></span> </p>
                <p class="text-desc">Curabitur sed lacus faucibus, efficitur nulla cursus, dictum quam. Praesent ornare nibh vel molestie fringilla. Nulla non vulputate odio tesque eu dui quis orci interdum lobor quam viverra elit et dui ultrices.</p>
            </div>
            <div class="yoga-classes-content">
                <div class="yoga-col"> <img src="resource/css/img/large18-670x460.jpg">
                    <div class="img-sticker"> <span><i class="ion-person"></i><a>Pamela Smith</a></span> <span>$49</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="animated-sticker">
                        <i class="dot"></i>
                        <div class="animated-sticker-translate">
                            <h3>Basic Yoga</h3>
                            <p class="yoga-cls-text">Lorem ipsum dolor sit amet nsectetur adipiscing eli orbi suscipit sed justo eu resrin ilsen tempus.</p>
                            <p> <i class="ion-ios-clock-outline"></i><span>2 Months</span> <i class="ion-university"></i><span>Basic</span> <i class="ion-ios-people"></i><span>25</span> </p>
                        </div>
                    </div>
                </div>
                <div class="yoga-col"> <img src="resource/css/img/large1-670x460.jpg">
                    <div class="img-sticker"> <span>
                        <i class="ion-person"></i><a>Pamela Smith</a>
                        </span><span>$49</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="animated-sticker">
                        <i class="dot"></i>
                        <div class="animated-sticker-translate">
                            <h3>Basic Yoga</h3>
                            <p class="yoga-cls-text">Lorem ipsum dolor sit amet nsectetur adipiscing eli orbi suscipit sed justo eu resrin ilsen tempus.</p>
                            <p> <i class="ion-ios-clock-outline"></i><span>2 Months</span> <i class="ion-university"></i><span>Basic</span> <i class="ion-ios-people"></i><span>25</span> </p>
                        </div>
                    </div>
                </div>
                <div class="yoga-col"> <img src="resource/css/img/large21-670x460.jpg">
                    <div class="img-sticker"> <span> <i class="ion-person"></i><a>Pamela Smith</a></span><span>$49</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="animated-sticker">
                        <i class="dot"></i>
                        <div class="animated-sticker-translate">
                            <h3>Basic Yoga</h3>
                            <p class="yoga-cls-text">Lorem ipsum dolor sit amet nsectetur adipiscing eli orbi suscipit sed justo eu resrin ilsen tempus.</p>
                            <p> <i class="ion-ios-clock-outline"></i><span>2 Months</span> <i class="ion-university"></i><span>Basic</span> <i class="ion-ios-people"></i><span>25</span> </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="btn"><h5>VIEW ALL CLASSES</h5></div>
        </div>
    </section>
    <section id="featured-event" class="section-container">
        <div class="f-event-row">
            <div class="h-block">
                <h5>FEATURED EVENT</h5>
                <p class="dividers"> <span></span> <span></span> <span></span> <span></span> </p>
                <h1>World Yoga Day Celebration</h1>
                <p class="text-desc"><i class="ion-android-calendar"></i><span>21 June 2017</span> <i class="ion-android-time"></i><span>Wednesday - 8:00 am</span> <i class="ion-ios-location"></i><span>Cross Road Park</span><i class="ion-cash"></i><span>$49</span></p>
            </div>
            <div class="days-counter">
                <span><h2>167</h2><p>DAYS</p></span>
                <span><h2>16</h2><p>HOURS</p></span>
                <span><h2>19</h2><p>MINUTES</p></span>
                <span><h2>08</h2><p>SECONDS</p></span>
            </div>
            <p class="full-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sunt temporibus incidunt aut repellat perspiciatis fugiat facilis magnam aliquam ratione amet! Magni recusandae similique dolorem nesciunt ullam id tempora stinctio.</p>
            <div class="btn"><h5>READ MORE</h5></div>
        </div>
    </section>
    <section id="meet-trainers">
    ffs
    </section>
</body>

</html>