<!DOCTYPE html>
<html>
    <head>
        <title>Strata</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendor/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="resource/css/style.css">
    </head>
    <body>
        <main>
            <section id="section-left">
                <div id="about-author">
                    <div>
                        <img src="resource/css/img/avatar.jpg">
                    </div>
                    <p><span>Col at Sapien</span>, cep augue sociis vestibulum amet faucibus natoque commodo at Vestibulum.</p>
                    <div id="socila-media">
                        <i class="ion-social-twitter    "></i> 
                        <i class="ion-social-github"></i> 
                        <i class="ion-social-dribbble"></i> 
                        <i class="ion-email"></i> 
                    </div>
                    <span id="copy-right">© Untitled</span>
                </div>
            </section>
            <section id="section-right">
                <article>
                    <h2>Ipsum lorem dolor aliquam ante commodo magna sed accumsan arcu neque.</h2>
                    <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
                    <a class="btn">Learn More</a>
                </article>
                 <article>
                    <h2>Recent Work</h2>
                        <div class="gallery">
                            <div class="gallery_row">
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/01.jpg">
                                        <span>View</span>
                                    </p>
                                    <h4>Magna sed consequat tempus</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/02.jpg">
                                        <span>View</span>
                                    </p>    
                                    <h4>Ultricies lacinia interdum</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                            </div>
                            <div class="gallery_row">
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/03.jpg">
                                        <span>View</span>
                                    </p>
                                    <h4>Tortor metus commodo</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/04.jpg">
                                        <span>View</span>
                                    </p>    
                                    <h4>Quam neque phasellus</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                            </div>
                            <div class="gallery_row">
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/05.jpg">
                                        <span>View</span>
                                    </p>
                                    <h4>Nunc enim commodo aliquet</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                                <div class="image_grid">
                                    <p class="grid_head">
                                        <img src="resource/css/img/06.jpg">
                                        <span>View</span>
                                    </p>    
                                    <h4>Risus ornare lacinia</h4>
                                    <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                                </div>
                            </div>    
                        </div>
                    <a class="btn">Full Portfolio</a>
                </article>
                 <article>
                    <h2>Get In Touch</h2>
                    <p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
                     <div class="contact_us">
                        <form>
                            <input type="name" placeholder="Name">
                            <input type="email" placeholder="Email">
                            <textarea placeholder="Message"></textarea>
                        </form>  
                         <address>
                             <p><i class="ion-ios-home"></i>1234 Somewhere Rd.<br/>Nashville,<br/> TN 00000 United States</p>
                             <p><i class="ion-iphone"></i>000-000-0000</p>
                             <p><i class="ion-email"></i>hello@untitled.tld</p>
                         </address>
                     </div>
                    
                    <a class="btn">Send Message</a>
                </article>
            </section>
        </main>
        
    </body>


</html>