<!DOCTYPE html>

<head>
    <title>kaitlyn hova</title> <!-- http://www.kaitlynhova.com/ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendor/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="resources/css/media-queries.css"> </head>

<body>
    <aside>
        <div>
            <i class="ion-close-round"></i>
            <h1>Right Brain</h1>
            <div class="list-span"> <span>Music</span> <span>Video</span> <span>Art</span> </div> 
            <h1>Left Brain</h1> 
            <div class="list-span"> <span>Code</span> <span>UX</span> <span>Neuroscience</span> </div>
        </div>
    </aside>
    <main>
        <header>
            <div>
                <div class="title">
                    <div id="logo-wrapper">
                        <!-- <span id="logo"></span>--><img src="resources/css/img/tsn-logo.svg"> </div>
                    <h1>kaitlyn hova</h1> </div>
                <nav>
                    <ul>
                        <li><a>Contact</a></li>
                        <li><a>Blog</a></li>
                    </ul> <i class="ion-android-menu"></i> </nav>
                <div class="clerfix"></div>
            </div>
            <div id="bg">
                <p>violinist, synesthete, designer, developer, composer, entrepre-nerd, neuroscientist, wife, and best friend.</p>
            </div>
        </header>
        <section id="table">
            <div class="table-row">
                <h1>Public Speaking & Performance Schedule</h1>
                <table>
                    <tr>
                        <th>DATE</th>
                        <th>TITLE</th>
                        <th>LOCATION</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Oct 12th, 2016</td>
                        <td>ATLASSIAN Women in Tech panel + Hovalin Performance</td>
                        <td>San Jose, CA</td>
                        <td><img src="resources/css/img/right.svg" class="arrow"></td>
                    </tr>
                    <tr>
                        <td>Dec 1st, 2016</td>
                        <td>TED MED performance / talk</td>
                        <td>Palm Springs, CA</td>
                        <td><img src="resources/css/img/right.svg" class="arrow"></td>
                    </tr>
                    <tr>
                        <td>December 23rd, 2016</td>
                        <td>Performance w/Bad Country @ The Pizza Shoppe</td>
                        <td>Omaha, NE</td>
                        <td><img src="resources/css/img/right.svg" class="arrow"></td>
                    </tr>
                    <tr>
                        <td>January 20th, 2017</td>
                        <td>A3E 3D printable instruments panel @ NAMM</td>
                        <td>Anaheim, CA</td>
                        <td><img src="resources/css/img/right.svg" class="arrow"></td>
                    </tr>
                    <tr>
                        <td>January 22nd, 2017</td>
                        <td>Hovalin performance/talk @ SF Conservatory of Music</td>
                        <td>San Francisco, CA</td>
                        <td><img src="resources/css/img/right.svg" class="arrow"></td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="brain">
            <div class="left-brain">
                <div class="img-wrapper"> <img src="resources/css/img/computer.svg"> </div>
                <h1>Left Brain</h1>
                <div class="list-span"> <span>Code</span> <span>UX</span> <span>Neuroscience</span> </div> <a class="btn">Let's go</a> </div>
            <div class="right-brain">
                <div class="img-wrapper"> <img src="resources/css/img/violectra.png"> </div>
                <h1>Right Brain</h1>
                <div class="list-span"> <span>Music</span> <span>Video</span> <span>Art</span> </div> <a class="btn">Let's go</a> </div>
            <div class="clerfix"></div>
        </section>
        <section id="hovalin">
            <div class="hovalin-row"> <img src="resources/css/img/hovalin.png">
                <h1>The Hovalin</h1>
                <p>An open source, 3D printable violin for all.</p> <a class="btn">Check it out</a> </div>
        </section>
        <section id="network">
            <div class="hovalin-row">
                <h1>The Synesthesia Network</h1>
                <p>A nexus for synesthetes and researchers.</p> <a class="btn">Check it out</a> </div>
        </section>
        <section id="hovas">
            <div class="hovalin-row"><img src="resources/css/img/hovaslogo.png"><img src="resources/css/img/thehovas.png"></div>
        </section>
        <footer>
            <div class="f1">
                <div class="social-media"> <span><i class="ion-social-facebook"></i></span> <span><i class="ion-social-twitter"></i></span> <span><i class="ion-social-youtube"></i></span> <span><i class="ion-social-googleplus"></i></span> <span><i class="ion-social-github"></i></span> <span><i class="ion-social-linkedin"></i></span> </div>
                <div class="list-span"> <span>Press</span> <span>Contact</span> <span>Blog</span> </div>
            </div>
            <div class="f2">
                <p>"I made this site." -- Kaitlyn Hova</p>
            </div>
        </footer>
    </main>
    <script type="text/javascript" src="vendor/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="resources/js/app.js"></script>
</body>