body {
	background: rgb(170, 128, 57);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin:0;
}
header {
	background:rgb(128, 88, 21);
	height: 90px;
}
nav {
	background:rgb(212, 173, 106);
	height:35px;
	//margin:10px;
}
div section {
	background:rgb(212, 173, 106);
	padding: 10px;
}
aside section {
	background:rgb(85, 54, 0);
	margin: 10px 0 0 0;
	padding: 10px;
}
div#div1 {
	margin: 10px 527px 10px 0;
	width: 71%;
}
div#div2 {
	float:right;
	clear:both;
	width: 73%;
}
aside#as1 {
	float:right;
	width: 26%;
}
aside#as2 {
	width: 26%;
}